<?xml version="1.0"?>
<Events>
    <SupportURL>http://</SupportURL>
    <Event id="allStandby">
        <Name>All Standby</Name>
    </Event>

    <Event id="lightKey">
        <Name>Light Command Received</Name>
        <ConfigUI>
            <Field type="menu" id="room" defaultValue="0">
                <Label>Room:</Label>
                <List class="self" filter="" method="roomlistgenerator"/>
            </Field>
            <Field type="menu" id="keyCode" defaultValue="0">
                <Label>Command:</Label>
                <List class="self" filter="" method="keylistgenerator"/>
            </Field>
        </ConfigUI>
    </Event>

    <Event id="controlKey">
        <Name>Control Command Received</Name>
        <ConfigUI>
            <Field type="menu" id="room" defaultValue="0">
                <Label>Room:</Label>
                <List class="self" filter="" method="roomlistgenerator"/>
            </Field>
            <Field type="menu" id="keyCode" defaultValue="0">
                <Label>Command:</Label>
                <List class="self" filter="" method="keylistgenerator"/>
            </Field>
        </ConfigUI>
    </Event>

    <Event id="beo4Key">
        <Name>BeoRemote Command Received</Name>
        <ConfigUI>
            <Field type="menu" id="sourceType" defaultValue="0">
                <Label>Source Type:</Label>
                <List class="self" filter="" method="beo4sourcelistgenerator2"/>
            </Field>
            <Field type="menu" id="keyCode" defaultValue="0">
                <Label>Command:</Label>
                <List class="self" filter="" method="keylistgenerator2"/>
            </Field>
        </ConfigUI>
    </Event>

    <Event id="virtualButton">
        <Name>Virtual Button Pressed</Name>
        <ConfigUI>
            <Field type="textfield" id="buttonID" defaultValue="0">
                <Label>Virtual Button Number:</Label>
            </Field>
            <Field type="menu" id="action" defaultValue="1">
                <Label>Button Action:</Label>
                <List>
                    <Option value="1">Press</Option>
                    <Option value="2">Hold</Option>
                    <Option value="3">Release</Option>
                </List>
            </Field>
        </ConfigUI>
    </Event>
</Events>